.ImageCarousel {
    height: 600px;
    left: 1430px;
    top: 90px;
    position: absolute;
    width: 450px;
    overflow: hidden;
}

.ImageCarousel .debug-info {
    display: none;
}

.ImageCarousel.debug {
    background: rgba(255, 0, 0, 0.5);
}

.ImageCarousel.debug > * {
    visibility: hidden;
}

.ImageCarousel.debug .debug-info {
    visibility: visible;
    display: block;
}
