.Board,
.Board.Large {
    background: rgba(0, 103, 71, 0.75);
    color: #fff;
    position: absolute;
    height: 507px;
    width: 687px;
}

.Board header {
    padding: 0 8px;
}

.Board .pairings {
    float: right;
    font-size: 1.1em;
}

.Board .pairings tr td:nth-child(n+3):nth-child(-n+4) {
    text-align: right;
}

.Board.Large {
    font-size: 2em;
    height: 1023px;
    width: 1242px;
}

.Board.Large header {
    height: 39px;
    line-height: 33px;
    font-size: 36px;
    padding: 8px 16px 6px 8px;
}

.Board.Faded {
    background: rgba(64, 64, 64, 0.75);
}

.Board.Faded header {
    background: rgb(64, 64, 64);
}

.Board.Faded span {
    color: #fff;
    opacity: 0.5;
}

#board-1.Board {
    left: 7px;
    top: 7px;
}

#board-1.Board .cg-wrap {
    background-image: url(Board/brown.svg)
}

#board-2.Board {
    left: 702px;
    top: 7px;
}

#board-2.Board.Large {
    left: 7px;
    top: 7px;
}

#board-2.Board .cg-wrap {
    background-image: url(Board/purple.svg)
}

#board-3.Board {
    left: 7px;
    top: 523px;
}

#board-3.Board.Large {
    left: 7px;
    top: 7px;
}

#board-3.Board .cg-wrap {
    background-image: url(Board/green.svg)
}

#board-4.Board {
    left: 702px;
    top: 523px;
}

#board-4.Board.Large {
    left: 7px;
    top: 7px;
}

#board-4.Board .cg-wrap {
    background-image: url(Board/blue.svg)
}

.Board tfoot tr:nth-child(1) td {
    border-top: solid 2px #fff;
}

.Board tfoot td {
    text-align: right;
}

.Board.Faded tfoot tr:nth-child(2) td {
    color: #ffca0a;
    filter: saturate(100%);
}

.Board .board {
    position: absolute;
    left: 0;
    top: 27px;
    width: 100%;
}

.Board.Large .board,
.Board.Large .board-placeholder {
    top: 53px;
}

.Board .eventData {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 207px;
}

.Board.Large .eventData {
    width: 272px;
}

.Board .eventData .clock {
    font-size: 1.5em;
    text-align: center;
    background: rgba(0, 0, 0, 0.25);
    padding: 0.1em 0 0.2em;
}

.Board .eventData .clock.active {
    background: rgba(0, 0, 0, 0.5);
}

.Board .eventData .clock.flagged {
    background: rgba(255, 0, 0, 0.5) !important;
    color: #500 !important;
}

.Board .eventData .moveList {
    background: #fff;
    max-height: 394px;
    padding: 0.25em;
    overflow: hidden;
}

.Board.Large .eventData .moveList {
    max-height: 832px;
}

.Board .eventData .moveList span {
    font-size: 12px;
    font-weight: normal;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #006747;
    margin-right: 0.5em;
    line-height: 1.25;
    opacity: 0.8;
    float: left;
}


.Board.Large .eventData .moveList span {
    font-size: 16px;
}

.Board .eventData .moveList span.active {
    font-weight: 700;
    opacity: 1;
}

.Board .eventData .moveList .waiting {
    color: #006747;
    opacity: 0.8;
    text-align: center;
}

.Board .eventData .moveList {
    counter-reset: section;
}

.Board .eventData .moveList span:nth-child(odd)::before {
    opacity: 1;
    counter-increment: section;
    content: counters(section, ".") ". ";
    color: #000;
    font-weight: 700;
}

.Board header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: left;
}

.board-header-home {
    margin-left: 6px;
}

.board-header-away {
    margin-left: 10px;
}

.board-placeholder {
    position: absolute;
    left: 0;
    top: 33px;
    height: 474px;
    width: 474px;
}

.board-placeholder-info {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 310px;
    width: 213px;
}

.Board.Large .board-placeholder {
    height: 946px;
    width: 946px;
}

.Board.Large .board-placeholder-info {
    height: 660px;
    width: 446px;
}

.Board .black-square,
.Board .white-square {
    background: #000;
    width: 10px;
    height: 21px;
    display: block;
    float:left;
    position: relative;
    top: 3px;
    left: -4px;
    margin-right: 0;
    margin-left: 10px;
}

.Board .white-square {
    background: #fff;
}

.Board.Large .black-square,
.Board.Large .white-square {
    height: 37px;
    width: 22px;
    left: 10px;
    margin-right: 16px;
    margin-left: 0px;
    top: 0;
}
