.Board,
.Board.Large {
    background: rgba(0, 103, 71, 0.75);
    color: #fff;
    position: absolute;
    height: 507px;
    width: 687px;
}

.Board header {
    padding-left: 8px;
}

.Board .pairings {
    float: right;
    font-size: 1.1em;
}

.Board .pairings tr td:nth-child(n+3):nth-child(-n+4) {
    text-align: right;
}

.Board.Large {
    font-size: 2em;
    height: 1023px;
    width: 1382px;
}

.Board.Large header {
    font-size: 2.4em;
    height: 0.9em;
    padding: 18px 16px 0 16px;
}

.Board.Large .pairings {
    padding: 8px 16px;
}

.Board .pairings td {
    padding-right: 4px;
}

.Board.Large .pairings td {
    padding-right: 8px;
}

.Board.Faded {
    background: rgba(64, 64, 64, 0.75);
}

.Board.Faded header {
    background: rgb(64, 64, 64);
}

.Board.Faded span {
    color: #fff;
    opacity: 0.5;
}

#board-1.Board {
    left: 7px;
    top: 7px;
}

#board-1.Board .cg-wrap {
    background-image: url(Board/brown.svg)
}

#board-2.Board {
    left: 702px;
    top: 7px;
}

#board-2.Board.Large {
    left: 7px;
    top: 7px;
}

#board-2.Board .cg-wrap {
    background-image: url(Board/purple.svg)
}

#board-3.Board {
    left: 7px;
    top: 523px;
}

#board-3.Board.Large {
    left: 7px;
    top: 7px;
}

#board-3.Board .cg-wrap {
    background-image: url(Board/green.svg)
}

#board-4.Board {
    left: 702px;
    top: 523px;
}

#board-4.Board.Large {
    left: 7px;
    top: 7px;
}

#board-4.Board .cg-wrap {
    background-image: url(Board/blue.svg)
}

.Board tfoot tr:nth-child(1) td {
    border-top: solid 2px #fff;
}

.Board tfoot td {
    text-align: right;
}

.Board.Faded tfoot tr:nth-child(2) td {
    color: #ffca0a;
    filter: saturate(100%);
}

.Board .board {
    position: absolute;
    left: 0;
    top: 43px;
    width: 100%;
}

.Board.Large .board {
    top: 87px;
}

.Board .eventData {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 223px;
}

.Board .eventData .clock {
    font-size: 1.5em;
    text-align: center;
    background: rgba(0, 0, 0, 0.25);
    padding: 0.1em 0 0.2em;
}

.Board .eventData .clock.active {
    background: rgba(0, 0, 0, 0.5);
}

.Board .eventData .clock.flagged {
    background: rgba(255, 0, 0, 0.5) !important;
    color: #500 !important;
}

.Board .eventData .moveList {
    background: #fff;
    max-height: 245px;
    padding: 0.25em;
    overflow: hidden;
}

.Board .eventData .moveList span {
    font-size: 0.5rem;
    font-weight: normal;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #006747;
    margin-right: 0.5em;
    line-height: 1.25;
    opacity: 0.8;
    float: left;
}

.Board .eventData .moveList span.active {
    font-weight: 700;
    opacity: 1;
}

.Board .eventData .moveList .waiting {
    color: #006747;
    opacity: 0.8;
    text-align: center;
}

.Board .eventData .moveList {
    counter-reset: section;
}

.Board .eventData .moveList span:nth-child(odd)::before {
    opacity: 1;
    counter-increment: section;
    content: counters(section, ".") ". ";
    color: #000;
    font-weight: 700;
}
