* {
    font-family: antarctican-headline, san serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

html, body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

span,
.active {
    color: #ffca0a;
}

em {
    opacity: 0.5;
}

.Match {
    background: url(./background.png) center no-repeat;
    position: absolute;
    width: 1920px;
    height: 1080px;
}

.Match.Small {
    background: transparent;
}

.MatchResultBar,
.TitleBar,
header {
    background: #006747;
    color: #fff;
    height: 27px;
    line-height: 24px;
    font-size: 22px;
    text-transform: uppercase;
}

.TitleBar {
    height: 39px;
    line-height: 33px;
    font-size: 36px;
}

.MatchResultBar {
    position: absolute;
    right: 7px;
    text-align: center;
    top: 7px;
    width: 517px;
}

.TitleBar {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.TitleBar .TeamName {
    position: absolute;
    left: 8px;
    top: 0;
}

.TitleBar .MatchName {
    text-align: center;
    width: 100%;
}

.TitleBar .Host {
    position: absolute;
    top: 0;
    right: 8px;
}

.Host i {
    color: #ffca0a;
    font-size: 0.8em;
    margin-right: 6px;
}
