.Webcam {
    background: #006747;
    border-radius: 1em 0 0 0;
    border-bottom: 0;
    height: 252px;
    opacity: 5.75;
    position: absolute;
    top: 789px;
    width: 524px;
    left: 1396px;
}

.Webcam .webcam-placeholder {
    background: #fff;
    position: absolute;
    top: 7px;
    left: 7px;
    height: 245px;
    width: 251px;
}

.Webcam .webcam-placeholder:nth-child(2) {
    left: 266px;
}

.Small .Webcam {
    opacity: 0.5;
}