.Webcam {
    background: #006747;
    border-radius: 1em;
    left: 1430px;
    height: 262px;
    opacity: 0.75;
    position: absolute;
    top: 733px;
    width: 450px;
}

.Webcam .webcam-placeholder {
    background: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 242px;
    width: 430px;
}

.Webcam.debug .webcam-placeholder {
    background: rgba(255, 0, 0, 0.5);
}

.Webcam.debug .webcam-placeholder > * {
    visibility: hidden;
}

.Webcam.debug .webcam-placeholder .debug-info {
    visibility: visible;
    display: block;
}
