* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    min-width: 100%;
}

span,
.active {
    color: #ffca0a;
}

em {
    opacity: 0.5;
}

.boards {
    max-width: 1200px;
}

.App > .footer {
    color: #666;
    text-align: center;
}

.App > .footer a {
    font-weight: 700;
    text-decoration: none;
}

