* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
    min-width: 100%;
}

span,
.active {
    color: #ffca0a;
}

em {
    opacity: 0.5;
}

.boards,
.logos {
    max-width: 1248px;
}

.App > .footer {
    color: #666;
    text-align: center;
}

.App > .footer a {
    font-weight: 700;
    text-decoration: none;
}

.logo,
.event-logo {
    padding: 0.5em 0;
    padding-left: calc(var(--bs-gutter-x) * 0.5);
}

.event-logo {
    padding-top: 33px;
}

html.fixed, body.fixed {
    width: 1920px !important;
    height: 1080px !important;
    min-height: 1080px !important;
    min-width: 1920px !important;
    max-width: 1080px !important;
    max-height: 1920px !important;
    overflow: hidden;
}

.fixed-holder {
    background: #fff;
    width: 1920px !important;
    height: 1080px !important;
    position: relative;
    overflow: hidden;
}

body.fixed.stream {
    background: #03a9f4;
}

.fixed .logos {
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    width: 1920px;
    max-width: 1920px;
    margin: 0 auto;
    height: 1080px;
}

.fixed .logos div {
    margin: 0 auto;
    text-align: center;
    width: 400px;
}

.fixed .logos div:first-child {
    position: absolute;
    left: calc((1920px - 640px) / 2);
    top: calc((1080px / 3) - 154px);
}

.fixed .logos div:first-child img {
    width: 640px;
}

.fixed .logos div:last-child {
    position: absolute;
    left: calc((1920px - 420px) / 2);
    bottom: calc((1080px / 3) - 194px);
}

.fixed .boards div {
    margin-bottom: 0 !important;
}