.ScratchBoard {
    background: #006747;
    border-radius: 7px;
    height: 512px;
    opacity: 0.75;
    padding: 6px;
    position: absolute;
    top: 258px;
    width: 512px;
    transition: all 1s ease-in-out;
}

.ScratchBoard.Center {
    left: 470px;
    transition: left 1s ease;
}

.ScratchBoard.Right {
    left: 934px;
    transition: left 1s ease;
}

.ScratchBoard .eventData {
    display: none !important;
}
