.Sponsors {
    height: 194px;
    top: 32px;
    position: absolute;
    width: 420px;
    overflow: hidden;
}

.Sponsors.Center {
    left: 523px;
    transition: left 1s ease;
}

.Sponsors.Right {
    left: 987px;
    transition: left 1s ease;
}
