.Board {
    font-family: antarctican-headline, san serif;
    font-weight: 700;
}

.Board em {
    opacity: 0.5;
}

.Board span, .Board .active {
    color: #ffca0a;
}

.Board header {
    background: #006747;
    color: #fff;
    height: 31px;
    line-height: 30px;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
}

.Board header .input-group {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
}

.Board header .input-group .input-group-prepend {
    font-weight: normal;
    margin: 0 0.25em;
}

.Board {
    background: rgba(0, 103, 71, 0.75);
    color: #fff;
    float: left;
    margin: 0 0 3em 1em;
    position: relative;
    height: 353px;
    width: 500px;
}

.Board header {
    padding-left: 8px;
}

.Board .pairings {
    float: right;
    font-size: 1.15em;
}

.Board .pairings tr td:nth-child(n+3):nth-child(-n+4) {
    text-align: right;
}

.Board.Large {
    font-size: 2em;
    height: 1023px;
    width: 1382px;
}

.Board.Large header {
    font-size: 2.4em;
    height: 0.9em;
    padding: 18px 16px 0 16px;
}

.Board.Large .pairings {
    padding: 8px 16px;
}

.Board .pairings td {
    padding-right: 4px;
}

.Board.Large .pairings td {
    padding-right: 8px;
}

.Board.Faded {
    background: rgba(64, 64, 64, 0.75);
}

.Board.Faded header {
    background: rgb(64, 64, 64);
}

.Board.Faded span {
    color: #fff;
    opacity: 0.5;
}

.Board tfoot tr:nth-child(1) td {
    border-top: solid 2px #fff;
}

.Board tfoot td {
    text-align: right;
}

.Board.Faded tfoot tr:nth-child(2) td {
    color: #ffca0a;
    filter: saturate(100%);
}

.Board .board {

    width: 100%;
}

.Board .eventData {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 180px;
}

.Board .eventData .clock {
    font-size: 1.2em;
    text-align: center;
    background: rgba(0, 0, 0, 0.25);
    padding: 0.1em 0 0.2em;
}

.Board .eventData .clock.active {
    background: rgba(0, 0, 0, 0.5);
}

.Board .eventData .clock.flagged {
    background: rgba(255, 0, 0, 0.5) !important;
    color: #500 !important;
}

.Board .eventData .moveList {
    background: #fff;
    max-height: 198px;
    padding: 0.25em;
    overflow-y: auto;
}

.Board .eventData .moveList span {
    font-size: 0.6rem;
    font-weight: normal;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #006747;
    margin-right: 0.5em;
    line-height: 1.5;
    opacity: 0.8;
    float: left;
}

.Board .eventData .moveList span.active {
    font-weight: 700;
    opacity: 1;
}

.Board .eventData .moveList .waiting {
    color: #006747;
    opacity: 0.8;
    text-align: center;
}

.Board .eventData .moveList {
    counter-reset: section;
}

.Board .eventData .moveList span:nth-child(odd)::before {
    opacity: 1;
    counter-increment: section;
    content: counters(section, ".") ". ";
    color: #000;
    font-weight: 700;
}

.Board .game-form {
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.Board .container {
    margin-top: 2px;
    background: rgba(0, 103, 71, 0.75);
}

.Board .actions {
    position: absolute;
    bottom: -30px;
    right: 0;
}

#board-1.Board .cg-wrap,
#board-examine.board-1 .cg-wrap,
#board-examine.board-5 .cg-wrap {
    background-image: url(Board/brown.svg)
}

#board-2.Board .cg-wrap,
#board-examine.board-2 .cg-wrap,
#board-examine.board-6 .cg-wrap {
    background-image: url(Board/purple.svg)
}

#board-3.Board .cg-wrap,
#board-examine.board-3 .cg-wrap,
#board-examine.board-7 .cg-wrap {
    background-image: url(Board/green.svg)
}

#board-4.Board .cg-wrap,
#board-examine.board-4 .cg-wrap,
#board-examine.board-8 .cg-wrap {
    background-image: url(Board/blue.svg)
}

.Board .files {
    text-align: left !important;
    bottom: 6px !important;
    font-weight: bold;
    font-size: 1em;
}

.Board .files coord {
    color: #f0dab5;
    padding-left: 6px;
}

.Board .files coord:nth-child(even) {
    color: #b58763;
}

.Board .ranks {
    right: 0 !important;
    font-weight: bold;
    font-size: 1em;
}

.Board .ranks coord {
    color: #b58763;
    transform: none !important;
}

.Board .ranks coord:nth-child(even) {
    color: #f0dab5;
}

#board-examine.board-2 .ranks coord,
#board-examine.board-6 .ranks coord {
    color: #efefef;
}

#board-examine.board-2 .ranks coord:nth-child(odd),
#board-examine.board-6 .ranks coord:nth-child(odd) {
    color: #8777b6;
}

#board-examine.board-2 .files coord,
#board-examine.board-6 .files coord {
    color: #8777b6;
}

#board-examine.board-2 .files coord:nth-child(odd),
#board-examine.board-6 .files coord:nth-child(odd) {
    color: #efefef;
}

#board-examine.board-3 .ranks coord,
#board-examine.board-7 .ranks coord {
    color: #eeeed2;
}

#board-examine.board-3 .ranks coord:nth-child(odd),
#board-examine.board-7 .ranks coord:nth-child(odd) {
    color: #769655;
}

#board-examine.board-3 .files coord,
#board-examine.board-7 .files coord {
    color: #769655;
}

#board-examine.board-3 .files coord:nth-child(odd),
#board-examine.board-7 .files coord:nth-child(odd) {
    color: #eeeed2;
}

#board-examine.board-4 .ranks coord,
#board-examine.board-8 .ranks coord {
    color: #eaead2;
}

#board-examine.board-4 .ranks coord:nth-child(odd),
#board-examine.board-8 .ranks coord:nth-child(odd) {
    color: #4b7299;
}

#board-examine.board-4 .files coord,
#board-examine.board-8 .files coord {
    color: #4b7299;
}

#board-examine.board-4 .files coord:nth-child(odd),
#board-examine.board-8 .files coord:nth-child(odd) {
    color: #eaead2;
}
