.Header {
    background: #006747;
    padding: 1em;
}

.Header a {
    font-weight: bold;
    font-size: 24px;
    opacity: 0.75;
    text-transform: uppercase;
    font-family: antarctican-headline, san serif;
}
